/* 1st Background */

.container {
  height: 100vh;
  background: url('./background.svg');
}

.home--container {
  max-width: 1037px;
  margin: 0 auto;
}

.home--header-container {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
}

.home--logo-label {
  margin-left: 1rem;
  font-family: Heebo;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
}

.home--logo-container {
  display: flex;
  align-items: center;
}

.home--welcome {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-right: 1rem;
}

.home--books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.home--book {
  height: 190px;
  background-color: white;
  box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
  border-radius: 4px;
  display: flex;
  padding: 1rem;
}

.home--book-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.home--book-image {
  margin-right: 1rem;
}

.home--footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.home--footer-pages {
  margin-right: 1rem;
}

.home--footer-previous {
  margin-right: 0.5rem;
}